<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.qm.task.dao.QmBindRlnMapper">
  <resultMap id="BaseResultMap" type="com.asiainfo.qm.task.domain.QmBindRln">
    <id column="CHECKED_OBJECT_ID" jdbcType="VARCHAR" property="checkedObjectId" />
    <id column="PLAN_ID" jdbcType="VARCHAR" property="planId" />
    <id column="CHECK_STAFF_ID" jdbcType="VARCHAR" property="checkStaffId" />
    <result column="user_type" jdbcType="CHAR" property="userType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CHECKED_OBJECT_ID, PLAN_ID, CHECK_STAFF_ID, user_type
  </sql>

  <!--新增删除方法-->
  <delete id="deleteByIds" parameterType="java.util.List">
    delete from t_qm_bind_rln
    where CHECK_STAFF_ID =
    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
      #{item.checkStaffId,jdbcType=VARCHAR}
    </foreach>
    AND
    CHECKED_OBJECT_ID =
    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
      #{item.checkedObjectId,jdbcType=VARCHAR}
    </foreach>
    AND
    PLAN_ID =
    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
      #{item.planId,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <select id="selectByExample" parameterType="com.asiainfo.qm.task.domain.QmBindRlnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_qm_bind_rln
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <!--查询方法修改-->
  <select id="selectByPrimaryKey" parameterType="com.asiainfo.qm.task.domain.QmBindRlnKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_qm_bind_rln
    where
        <if test="checkedObjectId != null">
          CHECKED_OBJECT_ID = #{checkedObjectId,jdbcType=VARCHAR}  and
        </if>
        PLAN_ID = #{planId,jdbcType=VARCHAR}
    and
        CHECK_STAFF_ID = #{checkStaffId,jdbcType=VARCHAR}
  </select>
  <!--删除方法修改-->
  <delete id="deleteByPrimaryKey" parameterType="com.asiainfo.qm.task.domain.QmBindRlnKey">
    delete from t_qm_bind_rln
    where
        CHECKED_OBJECT_ID = #{checkedObjectId,jdbcType=VARCHAR}
    and
        PLAN_ID = #{planId,jdbcType=VARCHAR}
    and
        CHECK_STAFF_ID = #{checkStaffId,jdbcType=VARCHAR}
  </delete>
  <!--新增删除方法-->
  <delete id="deleteById" parameterType="com.asiainfo.qm.task.domain.QmBindRlnKey">
     delete from t_qm_bind_rln
     where
        <if test="checkedObjectId != null">
          CHECKED_OBJECT_ID = #{checkedObjectId,jdbcType=VARCHAR}  and
        </if>
          PLAN_ID = #{planId,jdbcType=VARCHAR}
     and CHECK_STAFF_ID = #{checkStaffId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.asiainfo.qm.task.domain.QmBindRlnExample">
    delete from t_qm_bind_rln
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.asiainfo.qm.task.domain.QmBindRln">
    insert ignore into t_qm_bind_rln (CHECKED_OBJECT_ID, PLAN_ID, CHECK_STAFF_ID,
      user_type)
    values (#{checkedObjectId,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, #{checkStaffId,jdbcType=VARCHAR}, 
      #{userType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asiainfo.qm.task.domain.QmBindRln">
    insert ignore into t_qm_bind_rln
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkedObjectId != null">
        CHECKED_OBJECT_ID,
      </if>
      <if test="planId != null">
        PLAN_ID,
      </if>
      <if test="checkStaffId != null">
        CHECK_STAFF_ID,
      </if>
      <if test="userType != null">
        user_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkedObjectId != null">
        #{checkedObjectId,jdbcType=VARCHAR},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="checkStaffId != null">
        #{checkStaffId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.asiainfo.qm.task.domain.QmBindRlnExample" resultType="java.lang.Integer">
    select count(*) from t_qm_bind_rln
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_qm_bind_rln
    <set>
      <if test="record.checkedObjectId != null">
        CHECKED_OBJECT_ID = #{record.checkedObjectId,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null">
        PLAN_ID = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStaffId != null">
        CHECK_STAFF_ID = #{record.checkStaffId,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_qm_bind_rln
    set CHECKED_OBJECT_ID = #{record.checkedObjectId,jdbcType=VARCHAR},
      PLAN_ID = #{record.planId,jdbcType=VARCHAR},
      CHECK_STAFF_ID = #{record.checkStaffId,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.asiainfo.qm.task.domain.QmBindRln">
    update t_qm_bind_rln
    <set>
      <if test="userType != null">
        user_type = #{userType,jdbcType=CHAR},
      </if>
    </set>
    where CHECKED_OBJECT_ID = #{checkedObjectId,jdbcType=VARCHAR}
      and PLAN_ID = #{planId,jdbcType=VARCHAR}
      and CHECK_STAFF_ID = #{checkStaffId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asiainfo.qm.task.domain.QmBindRln">
    update t_qm_bind_rln
    set user_type = #{userType,jdbcType=CHAR}
    where CHECKED_OBJECT_ID = #{checkedObjectId,jdbcType=VARCHAR}
      and PLAN_ID = #{planId,jdbcType=VARCHAR}
      and CHECK_STAFF_ID = #{checkStaffId,jdbcType=VARCHAR}
  </update>
</mapper>