<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.qm.task.dao.QmVoiceMapper" >
  <resultMap id="BaseResultMap" type="com.asiainfo.qm.task.domain.QmVoice" >
    <id column="TOUCH_ID" property="touchId" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="PROVINCE_ID" property="provinceId" jdbcType="VARCHAR" />
    <result column="CITY_ID" property="cityId" jdbcType="VARCHAR" />
    <result column="STAFF_ID" property="staffId" jdbcType="VARCHAR" />
    <result column="DEPART_ID" property="departId" jdbcType="VARCHAR" />
    <result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
    <result column="DEPART_NAME" property="departName" jdbcType="VARCHAR" />
    <result column="BEGIN_TIME" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CALL_TYPE" property="callType" jdbcType="VARCHAR" />
    <result column="IVR_DURATION" property="ivrDuration" jdbcType="INTEGER" />
    <result column="ALERT_DURATION" property="alertDuration" jdbcType="INTEGER" />
    <result column="QUEUE_DURATION" property="queueDuration" jdbcType="INTEGER" />
    <result column="TALK_DURATION" property="talkDuration" jdbcType="INTEGER" />
    <result column="ACW_DURATION" property="acwDuration" jdbcType="INTEGER" />
    <result column="END_TYPE" property="endType" jdbcType="VARCHAR" />
    <result column="STAFF_NUMBER" property="staffNumber" jdbcType="VARCHAR" />
    <result column="CUSTOMER_NUMBER" property="customerNumber" jdbcType="VARCHAR" />
    <result column="RECORD_PATH" property="recordPath" jdbcType="VARCHAR" />
    <result column="SATISFY_EXTENT" property="satisfyExtent" jdbcType="VARCHAR" />
    <result column="DISCON_REASON" property="disconReason" jdbcType="VARCHAR" />
    <result column="CALL_REASON" property="callReason" jdbcType="VARCHAR" />
    <result column="NOT_ONE_SLT" property="notOneSlt" jdbcType="VARCHAR" />
    <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    <result column="RESERVE_1" property="reserve1" jdbcType="VARCHAR" />
    <result column="RESERVE_2" property="reserve2" jdbcType="VARCHAR" />
    <result column="RESERVE_3" property="reserve3" jdbcType="VARCHAR" />
    <result column="RESERVE_4" property="reserve4" jdbcType="VARCHAR" />
    <result column="RESERVE_5" property="reserve5" jdbcType="VARCHAR" />
    <result column="RESERVE_6" property="reserve6" jdbcType="VARCHAR" />
    <result column="RESERVE_7" property="reserve7" jdbcType="VARCHAR" />
    <result column="RESERVE_8" property="reserve8" jdbcType="VARCHAR" />
    <result column="RESERVE_9" property="reserve9" jdbcType="VARCHAR" />
    <result column="RESERVE_10" property="reserve10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TOUCH_ID, TENANT_ID, PROVINCE_ID, CITY_ID, STAFF_ID, DEPART_ID, STAFF_NAME, DEPART_NAME, 
    BEGIN_TIME, END_TIME, CALL_TYPE, IVR_DURATION, ALERT_DURATION, QUEUE_DURATION, TALK_DURATION, 
    ACW_DURATION, END_TYPE, STAFF_NUMBER, CUSTOMER_NUMBER, RECORD_PATH, SATISFY_EXTENT, 
    DISCON_REASON, CALL_REASON, NOT_ONE_SLT, BUSINESS_TYPE, RESERVE_1, RESERVE_2, RESERVE_3, 
    RESERVE_4, RESERVE_5, RESERVE_6, RESERVE_7, RESERVE_8, RESERVE_9, RESERVE_10
  </sql>

  <!-- 自动抽取 -->
  <select id="selectByExampleForAutoExract" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ${tableName}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
      order by rand() limit ${limit}
  </select>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.asiainfo.qm.task.domain.QmVoiceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_qm_voice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_qm_voice
    where TOUCH_ID = #{touchId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_qm_voice
    where TOUCH_ID = #{touchId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.asiainfo.qm.task.domain.QmVoiceExample" >
    delete from t_qm_voice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.asiainfo.qm.task.domain.QmVoice" >
    insert into t_qm_voice (TOUCH_ID, TENANT_ID, PROVINCE_ID, 
      CITY_ID, STAFF_ID, DEPART_ID, 
      STAFF_NAME, DEPART_NAME, BEGIN_TIME, 
      END_TIME, CALL_TYPE, IVR_DURATION, 
      ALERT_DURATION, QUEUE_DURATION, TALK_DURATION, 
      ACW_DURATION, END_TYPE, STAFF_NUMBER, 
      CUSTOMER_NUMBER, RECORD_PATH, SATISFY_EXTENT, 
      DISCON_REASON, CALL_REASON, NOT_ONE_SLT, 
      BUSINESS_TYPE, RESERVE_1, RESERVE_2, 
      RESERVE_3, RESERVE_4, RESERVE_5, 
      RESERVE_6, RESERVE_7, RESERVE_8, 
      RESERVE_9, RESERVE_10)
    values (#{touchId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR}, #{departId,jdbcType=VARCHAR}, 
      #{staffName,jdbcType=VARCHAR}, #{departName,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{callType,jdbcType=VARCHAR}, #{ivrDuration,jdbcType=INTEGER}, 
      #{alertDuration,jdbcType=INTEGER}, #{queueDuration,jdbcType=INTEGER}, #{talkDuration,jdbcType=INTEGER}, 
      #{acwDuration,jdbcType=INTEGER}, #{endType,jdbcType=VARCHAR}, #{staffNumber,jdbcType=VARCHAR}, 
      #{customerNumber,jdbcType=VARCHAR}, #{recordPath,jdbcType=VARCHAR}, #{satisfyExtent,jdbcType=VARCHAR}, 
      #{disconReason,jdbcType=VARCHAR}, #{callReason,jdbcType=VARCHAR}, #{notOneSlt,jdbcType=VARCHAR}, 
      #{businessType,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=VARCHAR}, #{reserve4,jdbcType=VARCHAR}, #{reserve5,jdbcType=VARCHAR}, 
      #{reserve6,jdbcType=VARCHAR}, #{reserve7,jdbcType=VARCHAR}, #{reserve8,jdbcType=VARCHAR}, 
      #{reserve9,jdbcType=VARCHAR}, #{reserve10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asiainfo.qm.task.domain.QmVoice" >
    insert into t_qm_voice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="touchId != null" >
        TOUCH_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="departId != null" >
        DEPART_ID,
      </if>
      <if test="staffName != null" >
        STAFF_NAME,
      </if>
      <if test="departName != null" >
        DEPART_NAME,
      </if>
      <if test="beginTime != null" >
        BEGIN_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="callType != null" >
        CALL_TYPE,
      </if>
      <if test="ivrDuration != null" >
        IVR_DURATION,
      </if>
      <if test="alertDuration != null" >
        ALERT_DURATION,
      </if>
      <if test="queueDuration != null" >
        QUEUE_DURATION,
      </if>
      <if test="talkDuration != null" >
        TALK_DURATION,
      </if>
      <if test="acwDuration != null" >
        ACW_DURATION,
      </if>
      <if test="endType != null" >
        END_TYPE,
      </if>
      <if test="staffNumber != null" >
        STAFF_NUMBER,
      </if>
      <if test="customerNumber != null" >
        CUSTOMER_NUMBER,
      </if>
      <if test="recordPath != null" >
        RECORD_PATH,
      </if>
      <if test="satisfyExtent != null" >
        SATISFY_EXTENT,
      </if>
      <if test="disconReason != null" >
        DISCON_REASON,
      </if>
      <if test="callReason != null" >
        CALL_REASON,
      </if>
      <if test="notOneSlt != null" >
        NOT_ONE_SLT,
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE,
      </if>
      <if test="reserve1 != null" >
        RESERVE_1,
      </if>
      <if test="reserve2 != null" >
        RESERVE_2,
      </if>
      <if test="reserve3 != null" >
        RESERVE_3,
      </if>
      <if test="reserve4 != null" >
        RESERVE_4,
      </if>
      <if test="reserve5 != null" >
        RESERVE_5,
      </if>
      <if test="reserve6 != null" >
        RESERVE_6,
      </if>
      <if test="reserve7 != null" >
        RESERVE_7,
      </if>
      <if test="reserve8 != null" >
        RESERVE_8,
      </if>
      <if test="reserve9 != null" >
        RESERVE_9,
      </if>
      <if test="reserve10 != null" >
        RESERVE_10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="touchId != null" >
        #{touchId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        #{departId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="departName != null" >
        #{departName,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callType != null" >
        #{callType,jdbcType=VARCHAR},
      </if>
      <if test="ivrDuration != null" >
        #{ivrDuration,jdbcType=INTEGER},
      </if>
      <if test="alertDuration != null" >
        #{alertDuration,jdbcType=INTEGER},
      </if>
      <if test="queueDuration != null" >
        #{queueDuration,jdbcType=INTEGER},
      </if>
      <if test="talkDuration != null" >
        #{talkDuration,jdbcType=INTEGER},
      </if>
      <if test="acwDuration != null" >
        #{acwDuration,jdbcType=INTEGER},
      </if>
      <if test="endType != null" >
        #{endType,jdbcType=VARCHAR},
      </if>
      <if test="staffNumber != null" >
        #{staffNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerNumber != null" >
        #{customerNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordPath != null" >
        #{recordPath,jdbcType=VARCHAR},
      </if>
      <if test="satisfyExtent != null" >
        #{satisfyExtent,jdbcType=VARCHAR},
      </if>
      <if test="disconReason != null" >
        #{disconReason,jdbcType=VARCHAR},
      </if>
      <if test="callReason != null" >
        #{callReason,jdbcType=VARCHAR},
      </if>
      <if test="notOneSlt != null" >
        #{notOneSlt,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null" >
        #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null" >
        #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="reserve6 != null" >
        #{reserve6,jdbcType=VARCHAR},
      </if>
      <if test="reserve7 != null" >
        #{reserve7,jdbcType=VARCHAR},
      </if>
      <if test="reserve8 != null" >
        #{reserve8,jdbcType=VARCHAR},
      </if>
      <if test="reserve9 != null" >
        #{reserve9,jdbcType=VARCHAR},
      </if>
      <if test="reserve10 != null" >
        #{reserve10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.asiainfo.qm.task.domain.QmVoiceExample" resultType="java.lang.Integer" >
    select count(*) from t_qm_voice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_qm_voice
    <set >
      <if test="record.touchId != null" >
        TOUCH_ID = #{record.touchId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceId != null" >
        PROVINCE_ID = #{record.provinceId,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId,jdbcType=VARCHAR},
      </if>
      <if test="record.staffId != null" >
        STAFF_ID = #{record.staffId,jdbcType=VARCHAR},
      </if>
      <if test="record.departId != null" >
        DEPART_ID = #{record.departId,jdbcType=VARCHAR},
      </if>
      <if test="record.staffName != null" >
        STAFF_NAME = #{record.staffName,jdbcType=VARCHAR},
      </if>
      <if test="record.departName != null" >
        DEPART_NAME = #{record.departName,jdbcType=VARCHAR},
      </if>
      <if test="record.beginTime != null" >
        BEGIN_TIME = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.callType != null" >
        CALL_TYPE = #{record.callType,jdbcType=VARCHAR},
      </if>
      <if test="record.ivrDuration != null" >
        IVR_DURATION = #{record.ivrDuration,jdbcType=INTEGER},
      </if>
      <if test="record.alertDuration != null" >
        ALERT_DURATION = #{record.alertDuration,jdbcType=INTEGER},
      </if>
      <if test="record.queueDuration != null" >
        QUEUE_DURATION = #{record.queueDuration,jdbcType=INTEGER},
      </if>
      <if test="record.talkDuration != null" >
        TALK_DURATION = #{record.talkDuration,jdbcType=INTEGER},
      </if>
      <if test="record.acwDuration != null" >
        ACW_DURATION = #{record.acwDuration,jdbcType=INTEGER},
      </if>
      <if test="record.endType != null" >
        END_TYPE = #{record.endType,jdbcType=VARCHAR},
      </if>
      <if test="record.staffNumber != null" >
        STAFF_NUMBER = #{record.staffNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.customerNumber != null" >
        CUSTOMER_NUMBER = #{record.customerNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.recordPath != null" >
        RECORD_PATH = #{record.recordPath,jdbcType=VARCHAR},
      </if>
      <if test="record.satisfyExtent != null" >
        SATISFY_EXTENT = #{record.satisfyExtent,jdbcType=VARCHAR},
      </if>
      <if test="record.disconReason != null" >
        DISCON_REASON = #{record.disconReason,jdbcType=VARCHAR},
      </if>
      <if test="record.callReason != null" >
        CALL_REASON = #{record.callReason,jdbcType=VARCHAR},
      </if>
      <if test="record.notOneSlt != null" >
        NOT_ONE_SLT = #{record.notOneSlt,jdbcType=VARCHAR},
      </if>
      <if test="record.businessType != null" >
        BUSINESS_TYPE = #{record.businessType,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve1 != null" >
        RESERVE_1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null" >
        RESERVE_2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve3 != null" >
        RESERVE_3 = #{record.reserve3,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve4 != null" >
        RESERVE_4 = #{record.reserve4,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve5 != null" >
        RESERVE_5 = #{record.reserve5,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve6 != null" >
        RESERVE_6 = #{record.reserve6,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve7 != null" >
        RESERVE_7 = #{record.reserve7,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve8 != null" >
        RESERVE_8 = #{record.reserve8,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve9 != null" >
        RESERVE_9 = #{record.reserve9,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve10 != null" >
        RESERVE_10 = #{record.reserve10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_qm_voice
    set TOUCH_ID = #{record.touchId,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      PROVINCE_ID = #{record.provinceId,jdbcType=VARCHAR},
      CITY_ID = #{record.cityId,jdbcType=VARCHAR},
      STAFF_ID = #{record.staffId,jdbcType=VARCHAR},
      DEPART_ID = #{record.departId,jdbcType=VARCHAR},
      STAFF_NAME = #{record.staffName,jdbcType=VARCHAR},
      DEPART_NAME = #{record.departName,jdbcType=VARCHAR},
      BEGIN_TIME = #{record.beginTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      CALL_TYPE = #{record.callType,jdbcType=VARCHAR},
      IVR_DURATION = #{record.ivrDuration,jdbcType=INTEGER},
      ALERT_DURATION = #{record.alertDuration,jdbcType=INTEGER},
      QUEUE_DURATION = #{record.queueDuration,jdbcType=INTEGER},
      TALK_DURATION = #{record.talkDuration,jdbcType=INTEGER},
      ACW_DURATION = #{record.acwDuration,jdbcType=INTEGER},
      END_TYPE = #{record.endType,jdbcType=VARCHAR},
      STAFF_NUMBER = #{record.staffNumber,jdbcType=VARCHAR},
      CUSTOMER_NUMBER = #{record.customerNumber,jdbcType=VARCHAR},
      RECORD_PATH = #{record.recordPath,jdbcType=VARCHAR},
      SATISFY_EXTENT = #{record.satisfyExtent,jdbcType=VARCHAR},
      DISCON_REASON = #{record.disconReason,jdbcType=VARCHAR},
      CALL_REASON = #{record.callReason,jdbcType=VARCHAR},
      NOT_ONE_SLT = #{record.notOneSlt,jdbcType=VARCHAR},
      BUSINESS_TYPE = #{record.businessType,jdbcType=VARCHAR},
      RESERVE_1 = #{record.reserve1,jdbcType=VARCHAR},
      RESERVE_2 = #{record.reserve2,jdbcType=VARCHAR},
      RESERVE_3 = #{record.reserve3,jdbcType=VARCHAR},
      RESERVE_4 = #{record.reserve4,jdbcType=VARCHAR},
      RESERVE_5 = #{record.reserve5,jdbcType=VARCHAR},
      RESERVE_6 = #{record.reserve6,jdbcType=VARCHAR},
      RESERVE_7 = #{record.reserve7,jdbcType=VARCHAR},
      RESERVE_8 = #{record.reserve8,jdbcType=VARCHAR},
      RESERVE_9 = #{record.reserve9,jdbcType=VARCHAR},
      RESERVE_10 = #{record.reserve10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.asiainfo.qm.task.domain.QmVoice" >
    update t_qm_voice
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID = #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        STAFF_ID = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        DEPART_ID = #{departId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="departName != null" >
        DEPART_NAME = #{departName,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        BEGIN_TIME = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callType != null" >
        CALL_TYPE = #{callType,jdbcType=VARCHAR},
      </if>
      <if test="ivrDuration != null" >
        IVR_DURATION = #{ivrDuration,jdbcType=INTEGER},
      </if>
      <if test="alertDuration != null" >
        ALERT_DURATION = #{alertDuration,jdbcType=INTEGER},
      </if>
      <if test="queueDuration != null" >
        QUEUE_DURATION = #{queueDuration,jdbcType=INTEGER},
      </if>
      <if test="talkDuration != null" >
        TALK_DURATION = #{talkDuration,jdbcType=INTEGER},
      </if>
      <if test="acwDuration != null" >
        ACW_DURATION = #{acwDuration,jdbcType=INTEGER},
      </if>
      <if test="endType != null" >
        END_TYPE = #{endType,jdbcType=VARCHAR},
      </if>
      <if test="staffNumber != null" >
        STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerNumber != null" >
        CUSTOMER_NUMBER = #{customerNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordPath != null" >
        RECORD_PATH = #{recordPath,jdbcType=VARCHAR},
      </if>
      <if test="satisfyExtent != null" >
        SATISFY_EXTENT = #{satisfyExtent,jdbcType=VARCHAR},
      </if>
      <if test="disconReason != null" >
        DISCON_REASON = #{disconReason,jdbcType=VARCHAR},
      </if>
      <if test="callReason != null" >
        CALL_REASON = #{callReason,jdbcType=VARCHAR},
      </if>
      <if test="notOneSlt != null" >
        NOT_ONE_SLT = #{notOneSlt,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        RESERVE_1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        RESERVE_2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        RESERVE_3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null" >
        RESERVE_4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null" >
        RESERVE_5 = #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="reserve6 != null" >
        RESERVE_6 = #{reserve6,jdbcType=VARCHAR},
      </if>
      <if test="reserve7 != null" >
        RESERVE_7 = #{reserve7,jdbcType=VARCHAR},
      </if>
      <if test="reserve8 != null" >
        RESERVE_8 = #{reserve8,jdbcType=VARCHAR},
      </if>
      <if test="reserve9 != null" >
        RESERVE_9 = #{reserve9,jdbcType=VARCHAR},
      </if>
      <if test="reserve10 != null" >
        RESERVE_10 = #{reserve10,jdbcType=VARCHAR},
      </if>
    </set>
    where TOUCH_ID = #{touchId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asiainfo.qm.task.domain.QmVoice" >
    update t_qm_voice
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      PROVINCE_ID = #{provinceId,jdbcType=VARCHAR},
      CITY_ID = #{cityId,jdbcType=VARCHAR},
      STAFF_ID = #{staffId,jdbcType=VARCHAR},
      DEPART_ID = #{departId,jdbcType=VARCHAR},
      STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      DEPART_NAME = #{departName,jdbcType=VARCHAR},
      BEGIN_TIME = #{beginTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      CALL_TYPE = #{callType,jdbcType=VARCHAR},
      IVR_DURATION = #{ivrDuration,jdbcType=INTEGER},
      ALERT_DURATION = #{alertDuration,jdbcType=INTEGER},
      QUEUE_DURATION = #{queueDuration,jdbcType=INTEGER},
      TALK_DURATION = #{talkDuration,jdbcType=INTEGER},
      ACW_DURATION = #{acwDuration,jdbcType=INTEGER},
      END_TYPE = #{endType,jdbcType=VARCHAR},
      STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR},
      CUSTOMER_NUMBER = #{customerNumber,jdbcType=VARCHAR},
      RECORD_PATH = #{recordPath,jdbcType=VARCHAR},
      SATISFY_EXTENT = #{satisfyExtent,jdbcType=VARCHAR},
      DISCON_REASON = #{disconReason,jdbcType=VARCHAR},
      CALL_REASON = #{callReason,jdbcType=VARCHAR},
      NOT_ONE_SLT = #{notOneSlt,jdbcType=VARCHAR},
      BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      RESERVE_1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE_2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE_3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE_4 = #{reserve4,jdbcType=VARCHAR},
      RESERVE_5 = #{reserve5,jdbcType=VARCHAR},
      RESERVE_6 = #{reserve6,jdbcType=VARCHAR},
      RESERVE_7 = #{reserve7,jdbcType=VARCHAR},
      RESERVE_8 = #{reserve8,jdbcType=VARCHAR},
      RESERVE_9 = #{reserve9,jdbcType=VARCHAR},
      RESERVE_10 = #{reserve10,jdbcType=VARCHAR}
    where TOUCH_ID = #{touchId,jdbcType=VARCHAR}
  </update>
</mapper>